.skeleton {
  min-height: 100vh;
  width: 78%;
  margin: 5vw auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 2vw;
}

.skeleton-card {
  height: 40vh;
  width: 17.5vw;
  position: relative;
}

.skeleton-image {
  height: 70%;
  animation: skeleton-loading linear 1s infinite alternate;
}

.skeleton-text {
  height: 5%;
  margin-top: 1vw;
  border-radius: 0.1vw;
  animation: skeleton-loading linear 1s infinite alternate;
}

.skeleton-text:last-child {
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: (200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

#contact {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    position: relative;
  }
  
  #contact #overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -9;
  }
  
  #contact-left {
    padding-left: 12vw;
  }
  
  #contact img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -99;
  }
  
  #contact h1 {
    font-size: 3vw;
    font-weight: 600;
  }
  
  #contact p {
    font-size: 1.2vw;
    width: 80%;
    margin-top: 1vw;
  }
  
  #contact-right {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  #contact-right label {
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 1vw;
  }
  
  #contact-right input {
    padding: 1vw 0.75vw 1vw 1.5vw;
    margin-top: 0.5vw;
    font-size: 1vw;
  }
  
  #contact-right input::placeholder {
    font-size: 1vw;
  }
  
  #contact-right textarea {
    padding: 1vw 0.75vw 1vw 1.5vw;
    margin-top: 0.5vw;
    font-size: 1vw;
  }
  
  #contact-right textarea::placeholder {
    font-size: 1.1vw;
    font-family: gilroy;
  }
  
  #contact button {
    margin-top: 1.5vw;
    font-size: 1.3vw;
    padding: 1vw 0;
    background-color: black;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  
  #contact button:hover {
    background-color: #fff;
    color: black;
    border-color: #000;
  }

  #about {
    min-height: 100%;
    min-width: 100%;
  }
  
  #about-page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 15vw 0 15vw;
    margin-bottom: 5vw;
  }
  
  #about-left img {
    height: 40vw;
    width: 300vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  
  #about-right {
    margin-left: 5vw;
  }
  
  #about-right h1 {
    font-size: 3vw;
    font-weight: 600;
  }
  
  #about-right p {
    margin-top: 1vw;
    font-size: 1.2vw;
    width: 100%;
    color: #828282;
  }
  
  #about-right button {
    margin-top: 1.5vw;
    padding: 0.9vw 1vw;
    background-color: rgb(175,20,26);
    border: none;
    border-radius: 2vw;
    font-size: 1vw;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 0.5vw;
    border: 1px solid transparent;
    transition: all ease 0.5s;
  }
  
  #about-right button:hover {
    background-color: transparent;
    color: rgb(175,20,26);
    border-color: rgb(175,20,26);
  }
  
  #about-right button i {
    font-size: 1vw;
  }